section.contact-content{
    margin-top: 100px;
    width: 100%;
    position: absolute;
    top: 100%;
    height: 100%;
}
footer{
    position: absolute;
    top: 200%!important;
}
.form{
    position: relative;
    height: 100%;
    margin: auto;
}
form{
    font-size: 18px;
    position: relative;
    top: 2%;
    height: 70%;
}
table {
    margin: auto;
}
.form label {
    font-size: 20px;
    padding: 3px;
}
.form td.label{
    padding-top: 10px;
}
.form tr.textarea{
    height: 200px;
}
.form tr.textarea textarea{
    height: 200px;
}
.form tr.trsubmit{
    padding: 20px;
}
.content{
    width: 100%;
}
.form table{
    width: 80%;
}
.form input{
    font-size: 20px;
    width:  80%;
    resize: none;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px;
    border-radius: 5px;
    border-bottom: solid 2px rgb(0, 0, 0);
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}
.form input:focus{
    outline: none;
}
.form input.submit{
    border: none;
    background-color: rgb( 50, 50, 70);
    border-radius: 20px;
    color: #fff;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    width: 40%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form textarea{
    font-size: 20px;
    resize: none;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2px;
    border-radius: 5px;
    border-bottom: solid 2px rgb(0, 0, 0);
    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    width: 90%;
    height: 90%;
}
.form textarea:focus{
    outline: none;
}

h1.contact{
    text-align: center;
    padding: 20px;
}

/* responsive*/

@media screen and (max-width: 880px) {
	.big-title{
		color: 	rgb(30, 30, 40);
		font-size: 30px;
	}
	.presentation .big-title{
		font-size: 60px;
	}
	.presentation div.box p{
		font-size: 24px;
	}
}

@media screen and (max-width: 500px) {
    .text-presentation{
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    .text-presentation{
        font-size: 13px;
    }

    h2.big-title{
        font-size: 15px;
    }
}
@media screen and (max-height: 650px) {
    footer{
        position: absolute;
        top: 230%;
    }
}
@media screen and (max-height: 550px) {
    footer{
        position: absolute;
        top: 250%;
    }
}
@media screen and (max-height: 400px) {
    footer{
        position: absolute;
        top: 300%;
    }
}